fontStyle('Inter-bl',Inter-Black, '900', normal);
fontStyle('Inter-b',Inter-Bold, '700', normal);
fontStyle('Inter-med',Inter-Medium, '500', normal);
fontStyle('Inter',Inter-Regular, '400', normal);
fontStyle('Inter-sb',Inter-SemiBold, '600', normal);
