/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1440;
$mainFontSize = 20;
$minFontSize = 19;
$burgerMenuShowWidth = 600px;

html {
  --main-font-family Inter;
  --bg #fff;
  --text-c #555555;
  --other-c #111111;
  --card-bg #EEEEEE;
  --refs-c #FF3998;
  --advantage-bg #EEEEEE;
  --advantage-bg-mob-black #fff;
  --first-about-bg #fff0e8;
  --second-about-bg #edfff6;
}

.dark {
  --bg #111111;
  --text-c #CCCCCC;
  --other-c #fff;
  --card-bg #000000 0;
  --refs-c #111111;
  --advantage-bg #555555;
  --advantage-bg-mob-black #111111;
  --first-about-bg #FF8139;
  --second-about-bg #39FFA0;
}

@import 'modules/_nullStyle';
@import '_footer';
@import '_fonts';
@import '_general';
@import '_header';
@import '_mixins';

body {
  height 100%;
  color var(--text-c);
  font adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family);
  background var(--bg);

  &.scroll-block {
    overflow hidden;
  }

  button {
    font-family var(--main-font-family);
    color var(--text-c);
  }
}

.main {
  width 100%;

  &__body {
    background var(--bg);

    @media (min-width 426px) {
      firstLevelElementsMargin 'bottom' 20;
    }
  }
}

.text {
  color var(--text-c);
  line-height 1.5;
  font-size 20px;
}

.title {
  color var(--other-c);
  font-family Inter-med;
  font-size 40px;
}

.ref {
  font-family Inter-med;
  color #FF3998;

  &:hover, &:focus {
    text-decoration underline;
  }
}

.notification {
  text-transform uppercase;
  font-family inter-b;
  color #FF3998;
  letter-spacing 2px;
}

.sign-up {
  position relative;
  display inline-block;
  font-family Inter-sb;
  z-index 0;
  padding 3px 3px 3px 3px;
  background linear-gradient(70deg, #FF3998 1%, #FF3939 60%, #FF8139 95%);
  border-radius 50px;
  overflow hidden;

  &:hover, &:focus {
    .c1 {
      top 100%;
      left 50%;
      transform translate(-50%, -50%);
      filter blur(7px);
      transition all 0.4s ease-in;
    }
  }

  a {
    position relative;
    display inline-block;
    z-index 2;
    border-radius 50px;
    background var(--bg);
    color var(--other-c);
    font-size adapt-fsize(22, 20);
    padding 23px 55px 23px 55px;
  }

  .c1 {
    z-index 0;
    top 0;
    right 0;
    block-size 30px;
    filter blur(20px);
    background #39FFA0;
  }
}

.text-block {
  firstLevelElementsMargin 'bottom' 30;
}

.in-text-ref {
  text-decoration underline;
  font-family Inter-med;
  color inherit;
}

.color-circle {
  position absolute;
  background #FF3998;
  filter blur(70px);
  block-size 300px;
  border-radius 50%;
  z-index -1;
}

.card {
  --main-t-size 20px;
  --other-t-size 16px;
  width 320px;

  &__image {
    img {
      border-top-right-radius 16px;
      border-top-left-radius 16px;
    }
  }

  &__body {
    align-items center;
    font-size var(--other-t-size);
    background var(--card-bg);
    padding 25px 25px 25px 25px;
    gap 12px 25px;
    font-family Inter-med;
    display grid;
    grid-template 'series' 1fr 'name' 1fr 'hash' 1fr / 1fr 1fr;
    grid-template-rows minmax(0, 1fr);
    border-bottom-right-radius 16px;
    border-bottom-left-radius 16px;
  }

  &__series {
    text-transform uppercase;
    color #FF8139;
  }

  &__bid {
    text-transform uppercase;
    color var(--text-c);
    text-align right;
  }

  &__name, &__price {
    font-size var(--main-t-size);
    color var(--other-c);
  }

  &__price {
    text-align right;

    &.eth {
      &:after {
        content ' ETH';
      }

      &:before {
        display inline-block;
        background url('../img/content/eft-icon.png') no-repeat center / cover;
        margin-right 9px;
        block-size 13px 22px;
        content '';
      }
    }
  }

  &__hash {
    font-family Inter;
    color var(--text-c);

    &:before {
      content '#';
    }
  }

  &__date {
    justify-self end;
    font-family Inter;
    color var(--text-c);
  }
}

.card-dark {
  .card__body {
    background #000;
  }

  .card__bid {
    color #999999;
  }

  .card__name, .card__price {
    color #EEEEEE;
  }

  .card__hash {
    color #999999;
  }

  .card__date {
    color #999999;
  }
}

.block {
  adaptive-property 'padding-top' 40 15;
  adaptive-property 'padding-bottom' 40 15;
}

.mob-nonactive-block {
  @media (min-width 426px) {
    adaptive-property 'padding-top' 40 20;
    adaptive-property 'padding-bottom' 40 20;
  }
}

.hero {
  overflow hidden;

  &__body {
    flex-set row nowrap;
    padding-bottom 5%;

    @media (max-width 426px) {
      padding-bottom 10%;
    }
  }

  &__text-block {
    z-index 3;
    padding 10% 10px 10% 20px;
    width 50%;

    @media (max-width 768px) {
      width 80%;
    }

    @media (min-width 375px) {
      margin-right 40px;
    }
  }

  &__notification {
    display inline-block;
  }

  &__title {
    color var(--other-c);
    font-family Inter-bl;
    font-size adapt-fsize(96, 52);
  }

  &__text {
  }

  &__ref {
  }

  &__image {
    position relative;
    height fit-content;
    flex-set row nowrap;
    flex-content-position($jc: center, $ai: flex-start);
    width 50%;
    z-index 2;

    img {
      z-index 2;
    }

    @media (max-width 768px) {
      width 30%;

      img {
        transform scale(0.7, 0.7);
      }
    }

    @media (max-width 500px) {
      flex-content-position($jc: center, $ai: flex-start);
      transform translate(50%, 0);

      img {
        transform scale(0.5, 0.5);
      }
    }

    .color-circle {
      top 50%;
      left 60%;
      transform translate(-50%, -50%);
      block-size 220px;
      filter blur(70px);

      @media (max-width 768px) {
        transform translate(-50%, -50%) scale(0.7);
        top 40%;
        left 60%;
      }

      @media (max-width 500px) {
        transform translate(-50%, -50%) scale(0.5);
      }
    }

    .c2 {
      top 70%;
      left 40%;
      transform translate(-50%, -50%);
      block-size 300px;
      background #FF8139;

      @media (max-width 768px) {
        transform translate(-50%, -50%) scale(0.7);
        top 50%;
        left 60%;
      }

      @media (max-width 500px) {
        transform translate(-50%, -50%) scale(0.7);
      }
    }
  }
}

.promo {
  position relative;
  opacity 0;
  transform translate(0, -20%);
  transition all 1s ease;

  &.active {
    opacity 1;
    transform translate(0, 0);
  }

  &__body {
    position relative;
    padding 4% 4% 4% 4%;
    background linear-gradient(140deg, #ff3998 1%, #ff3939, #ff8139 60%);

    @media (min-width 426px) {
      border-radius 16px;
    }

    @media (max-width 426px) {
      background linear-gradient(100deg, #ff3950 1%, #ff3939 20%, #ff8139 60%);
    }

    overflow hidden;
  }

  &__text-block {
    position relative;
    color #111111;
    z-index 3;
  }

  &__title {
    color #111111;
    font-size adapt-fsize(41, 40);
  }

  &__text {
    font-size adapt-fsize(22, 20);
  }

  &__gradient-blocks {
    .c1 {
      z-index 1;
      top -40%;
      right -20%;
      background #39ffa0;
      block-size 300px;
      filter blur(110px);

      @media (max-width 768px) {
        block-size 200px;
      }
    }
  }

  &__cards {
    .card {
      --main-t-size 15px;
      --other-t-size 11px;
      position absolute;
      right 25%;
      top -30%;
      width 230px;
      transform rotate(-5deg) scale(1);
      z-index 4;

      &__body {
        gap 5px 15px;
      }

      @media (min-width 1440px) {
        right 30%;
      }

      @media (max-width 1000px) {
        top -60%;
        transform rotate(-5deg) scale(0.7);
      }

      @media (max-width 600px) {
        right 20%;
        transform rotate(-5deg) scale(0.5);
      }

      @media (max-width 426px) {
        top -50%;
        right 10%;
        transform rotate(-5deg) scale(0.4);
      }
    }

    .card2 {
      right 13%;
      top -20%;
      transform rotate(5deg);
      z-index 3;

      @media (min-width 1440px) {
        right 20%;
      }

      @media (max-width 1000px) {
        top -50%;
        transform rotate(5deg) scale(0.7);
      }

      @media (max-width 600px) {
        right 5%;
        transform rotate(5deg) scale(0.5);
      }

      @media (max-width 426px) {
        top -45%;
        right -5%;
        transform rotate(5deg) scale(0.4);
      }
    }
  }
}

.press {
  transition all 1s ease;
  transform translate(0, 25%);

  &.active {
    transform translate(0, 0);
  }

  &__body {
    flex-set row wrap;
    justify-content center;

    @media (max-width 426px) {
      flex-set column wrap;
      text-align center;
    }
  }
}

.press-item {
  padding 20px 0 20px 0;

  @media (min-width 426px) {
    &:not(:last-child) {
      padding-right 100px;
    }
  }
}

.auction {
  &__body {
  }

  &__text-container {
    margin-bottom 50px;

    @media (max-width 768px) {
      margin-bottom 20px;
    }
  }

  &__title {
  }

  &__text {
  }

  .mob-fs-block-container {
    @media (max-width 426px) {
      padding-left 2%;
      margin-bottom 40px;
    }
  }

  &__cards {
    flex-set row nowrap;

    .card {
      --main-t-size 20px;
      --other-t-size 12px;
      width auto;

      &__body {
        gap 10px 15px;
      }
    }
  }
}

.benefits {
  overflow hidden;
  &__body {
    flex-set row nowrap;
    justify-content space-between;
    firstLevelElementsMargin 'right' 30;

    .advantage {
      flex-basis 50%;
    }

    @media (max-width 768px) {
      flex-set column nowrap;
      firstLevelElementsMargin 'right' 0;
    }

    @media (min-width 426px) and (max-width 768px) {
      firstLevelElementsMargin 'bottom' 20;
    }
  }
}

.advantage {
  opacity 0
  transform translate(10%, 0);
  transition all 0.5s ease;

  &.active {
    opacity 1;
    transform translate(0, 0);
  }
  &_second {
    transform translate(20%, 0);
  }

  &__body {
    flex-set column nowrap;
    background var(--advantage-bg);
    padding 10% 10% 10% 10%;
    firstLevelElementsMargin 'bottom' 30;

    @media (min-width 426px) {
      border-radius 16px;
    }
  }

  &_mob-white {
    .advantage__body {
      @media (max-width 426px) {
        background var(--advantage-bg-mob-black);
      }
    }
  }

  &__image {
  }

  &__title {
    color var(--other-c);
  }

  &__text {
    color var(--text-c);
  }
}

.about-block {
  &__body {
    position relative;
    display grid;
    grid-template-columns repeat(2, 1fr);
    justify-items center;
    align-items center;
    padding 5% 4% 5% 4%;
    background var(--second-about-bg);
    overflow hidden;
    gap 10px 0;

    &_reverse {
      background var(--first-about-bg);
      padding-bottom 0;
    }

    * {
      z-index 1;
    }

    @media (min-width 426px) {
      border-radius 16px;
    }

    @media (max-width 1000px) {
      flex-set column nowrap;
      padding 5% 0 5% 0;
      gap 0 10%;

      &_reverse {
        flex-set column-reverse nowrap;
      }
    }
  }

  &__subcontent {
    .card {
      @media (max-width 426px) {
        transform scale(0.8);
      }
    }
  }

  &__text-container {
    padding 7% 7% 7% 7%;
  }

  .c-purple {
    position absolute;
    z-index 1;
    bottom -35%;
    right 0;
    background #FF3998;
    block-size 350px;
    filter blur(110px);

    @media (max-width 1000px) {
      bottom 90%;
      right -20%;
      block-size 300px;
      filter blur(120px);
    }

    @media (max-width 426px) {
      left 70%;
      bottom 80%;
      block-size 350px;
      filter blur(90px);
    }
  }

  .c-orange {
    position absolute;
    z-index 1;
    bottom -40%;
    left -10%;
    background #FF8139;
    block-size 400px;
    filter blur(130px);

    @media (max-width 1000px) {
      bottom 90%;
      left 80%;
      block-size 300px;
      filter blur(120px);
    }

    @media (max-width 426px) {
      left 70%;
      bottom 80%;
      block-size 350px;
      filter blur(90px);
    }
  }

  &__image {
    position relative;
    width 100%;
    height 100%;
    padding-bottom 100%;

    @media (max-width 1000px) {
      padding-bottom 50%;
    }

    @media (max-width 426px) {
      padding-bottom 50%;
      border-bottom 1px solid var(--bg);
    }

    img {
      object-fit contain;
    }
  }

  &__image-info {
    position absolute;
    left 85%;
    bottom 5%;
    flex-set column nowrap;
    display inline-flex;
    firstLevelElementsMargin 'bottom' 12;

    @media (max-width 1000px) {
      display none;
    }
  }

  &__series {
    @extend .card__series;
    color var(--text-c);
  }

  &__name {
    @extend .card__name;
    font-family inter-b;
    color #000;
  }

  &__hash {
    @extend .card__hash;
    color #555;
  }

  &__title {
    color #111111;
  }

  &__text {
    color #555555;
  }

  &__ref {
    color var(--refs-c);

    svg {
      path {
        stroke var(--refs-c);
      }
    }
  }
}

.hero-end {
  padding-bottom 0;

  .hero__image {
    align-items flex-end;
    height auto;

    @media (max-width 500px) {
      transform translate(0, 0);
    }

    img {
      transform scale(1);

      @media (max-width 426px) {
        block-size 153px 350px;
      }
    }
  }

  .hero__body {
    border-top 2px solid var(--text-c);
    border-bottom 2px solid var(--text-c);
    padding-top 30px;
    padding-bottom 0;
  }

  .c1 {
    @media (max-width 426px) {
      transform scale(1.3);
    }
  }

  .c2 {
    top 70%;
    left 40%;

    @media (max-width 426px) {
      transform scale(1);
    }
  }
}
